$blue: rgb(0, 0, 196);

.number {
  font-family: 'Roboto Mono', monospace;
}
.App {
  margin: 0 5%;
}
a {
  text-decoration: none;
  color: $blue;
}
.pointer {
  cursor: pointer;
}
.blue {
  color: $blue;
}