.Site-Navigation {
    display: grid; 
    grid-template-columns: max-content auto;
}
#Site-title {
    width: max-content;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-size: 38px;
    font-weight: 700;
}
.Profile-dropdown-container {
    display: grid;
    grid-template-columns: 100%;
    float: right;
}
.Profile-img-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
}
.Profile-img-dropdown {
    // display: block;
    position: absolute;
    border: 1px solid #444;
    border-radius: 5px;
    background: linear-gradient(45deg, #ddd, #fff);
    top: 80px;
    right: 5%;
    padding: 5px;
}
