.Single-game {
    display: grid;
    grid-template-columns: repeat(12, 8%);
    p {
        margin: 3px 0;
    }
    input {
        margin: 3px 0;
    }
}
.Single-game-container {
    background: linear-gradient(0deg, blue, purple);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.Single-game-header {
    border-bottom: 2px solid #fff;
}
#Single-game-paid-btn {
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 2px 3px;
    cursor: pointer;
    background: #fff3
}
#Single-game-paid-btn:hover {
    background: #fff6
}